altgraph==0.12
beautifulsoup4==4.4.1
cffi==1.2.1
cryptography==1.0.2
enum34==1.0.4
Flask==0.10.1
html5lib==0.9999999
idna==2.0
ipaddress==1.0.14
itsdangerous==0.24
Jinja2==2.8
macholib==1.7
MarkupSafe==0.23
modulegraph==0.12.1
ndg-httpsclient==0.4.0
pep8==1.6.2
py2app==0.9
pyasn1==0.1.9
pycparser==2.14
pyflakes==1.0.0
pyOpenSSL==0.15.1
requests==2.8.1
setproctitle==1.1.9
six==1.10.0
virtualenv==13.1.2
Werkzeug==0.11.2
